body {
  margin: 0;
  background: #161515;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  text-align: center;
  border-radius: 5em;
}
.container #other_Projects_Title {
  margin-top: 3rem;
  font-size: 3vw;
}
.container .dhope_Buttons {
  background: #1d1c1c;
  border-radius: 0.1em;
  padding: 1em;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  grid-gap: 1em 0.5em;
}
.container .dhope_Buttons a {
  background: #302e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: ease-in-out 1s;
}
.container .dhope_Buttons a button {
  text-decoration: none;
  border: none;
  background: transparent;
  color: azure;
  font-size: 1.7vw;
}
.container .dhope_Buttons a:hover {
  background: #3b3a3a;
}

/* 
    grading systems 
*/
#collect_Data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#collect_Data form {
  width: 80%;
}
#collect_Data form input {
  text-decoration: none;
  padding: 0.6em;
  border: none;
  border-radius: 0.2em;
  margin: 0.1em;
  font-size: 1.5vw;
  text-align: center;
  width: 35%;
  transition: background-color 0.5s ease;
}
#collect_Data form #reset_Btn {
  width: 18%;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #dae725;
}
#collect_Data form #reset_Btn:hover {
  background-color: #ecf83c;
}
#collect_Data form #reset_Btn:active {
  background-color: #cfdd11;
}
#collect_Data form #submit_Btn {
  width: 18%;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #2ba8da;
  color: white;
}
#collect_Data form #submit_Btn:hover {
  background-color: #37bef3;
}
#collect_Data form #submit_Btn:active {
  background-color: #1e7496;
}

/* 
    GET CURRENT DATE AND TIME 
*/
#date_time {
  height: 99dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: yellowgreen;
  border: 0.01em solid yellowgreen;
  border-radius: 0.5em;
  transition: all ease-in-out 1s;
}
#date_time button {
  margin-top: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.3em;
  background-color: rgb(4, 158, 73);
  color: white;
  border: none;
  border-radius: 0.2em;
  transition: all ease-in-out 1s;
  cursor: pointer;
}
#date_time button:hover {
  font-size: 1.7vw;
  font-weight: bold;
  padding: 0.4em;
  background-color: rgb(3, 202, 93);
}
#date_time button:active {
  font-weight: bold;
  padding: 0.4em;
  background-color: rgb(0, 117, 53);
}

/*
    WEATHER APP
*/
.container_weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather_Form {
  margin: 20px;
}

.city_Input {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}

button[type=submit] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #1e8df5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #3396f1;
}
button[type=submit]:active {
  background-color: #0a85f8;
}

.data_Card {
  background: linear-gradient(180deg, rgb(87, 157, 238), rgb(204, 149, 47));
  padding: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 25;
}

p {
  font-size: 1.5rem;
  margin: 5px 0px;
}

.city_Display, .temp_Display {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
  margin-bottom: 25px;
}

.humidity_Display {
  font-weight: bold;
  margin-bottom: 25px;
}

.Desc_Display {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.Weather_Emoji {
  margin: 0;
  font-size: 7.5rem;
}

.error_Display {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.685);
}

.temp_Convention {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4vw;
  background-color: aliceblue;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.temp_Convention h1 {
  color: #318bdf;
}
.temp_Convention form {
  background-color: #fff;
  text-align: center;
  padding: 1.7em;
  border-radius: 0.2em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.548);
}
.temp_Convention form #textBox {
  width: 70%;
  text-align: center;
  font-size: 2em;
  border: 5px solid rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  margin-bottom: 15px;
}
.temp_Convention form label {
  font-size: 1.2vw;
  font-weight: bold;
}
.temp_Convention form button {
  margin-top: 1.7em;
  font-size: 1.7vw;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  color: white;
  background-color: rgb(127, 187, 255);
  border: none;
  cursor: pointer;
  /* this is the time IT TAKES to fade in*/
  transition: background-color 0.7s;
}
.temp_Convention form button:hover {
  background-color: rgb(66, 145, 236);
}
.temp_Convention form button:active {
  background-color: rgb(2, 33, 68);
}
.temp_Convention form #result {
  font-size: 2vw;
  font-weight: bold;
}

/*
    calculator.html
*/
.cal_dev {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculation {
  background: #335063;
  padding: 1em;
  width: 40%;
}

#display {
  width: 100%;
  font-size: 5vw;
  text-align: right;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 0.1em;
  border: none;
  border-radius: 5px;
  background-color: #1a1919;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
}
#keys button {
  height: 5vw;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-color: #2c2b2b;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#keys button:hover {
  background-color: #424242;
}
#keys button:active {
  background-color: #202020;
}
#keys #equare {
  background-color: #2599e7;
  color: white;
  grid-column: span 2;
}
#keys #equare:hover {
  background-color: #48a6e6;
}
#keys #equare:active {
  background-color: #096fb3;
}
#keys #clear {
  background-color: #e72525;
  color: white;
  grid-column: span 2;
}
#keys #clear:hover {
  background-color: #ff1515;
}
#keys #clear:active {
  background-color: #b30000;
}
#keys .operator {
  background-color: #dae725;
  color: black;
}
#keys .operator:hover {
  background-color: #f1ff34;
}
#keys .operator:active {
  background-color: #cad80b;
}

.box {
  background-color: #333232;
  color: aquamarine;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 6vw;
}
.box #pwd_Btn {
  font-size: 2vw;
  background-color: #141313;
  color: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.4em;
  margin-bottom: 1em;
  cursor: pointer;
}

.container_Roll_Num {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 6vw;
  text-align: center;
}
.container_Roll_Num #myLabel {
  font-size: 7vw;
  font-weight: bolder;
  margin: 0;
  color: white;
}
.container_Roll_Num #myButton {
  font-size: 5vw;
  padding: 0.01em 1em;
  border-radius: 7px;
  color: white;
  background-color: rgb(51, 116, 190);
  border: none;
  cursor: pointer;
  /* this is the time IT TAKES to fade in*/
  transition: background-color 0.7s;
}
.container_Roll_Num #myButton:hover {
  background-color: rgb(14, 71, 136);
}
.container_Roll_Num #myButton:active {
  background-color: rgb(2, 33, 68);
}

.rock_Paper_Scissors {
  background-color: rgb(37, 37, 37);
  color: white;
  height: 100dvh;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rock_Paper_Scissors h1 {
  font-size: 4.5vw;
}
.rock_Paper_Scissors .choices {
  margin-bottom: 30px;
}
.rock_Paper_Scissors .choices button {
  font-size: 5vw;
  border: none;
  margin: 0 10px;
  border-radius: 100px;
  background-color: #2288a7;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.rock_Paper_Scissors .choices button:hover {
  background-color: #38a9cc;
}
.rock_Paper_Scissors #player_Display, .rock_Paper_Scissors #computer_Display {
  font-size: 4vw;
}
.rock_Paper_Scissors #result_Display {
  font-size: 5.5vw;
  margin: 30px 0;
}
.rock_Paper_Scissors .score_Display {
  font-size: 3vw;
}
.rock_Paper_Scissors .green_Text, .rock_Paper_Scissors #player_Score_Display {
  color: rgb(9, 167, 9);
}
.rock_Paper_Scissors .red_Text, .rock_Paper_Scissors #computer_Score_Display {
  color: rgb(243, 15, 15);
}

.img_Slider {
  background-color: rgb(37, 37, 37);
  color: white;
  height: 100dvh;
  display: flex;
}

.slider {
  position: relative;
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.slider img {
  width: 100%;
  display: none;
}

/* KEEP IT CLOSE LIKE THIS: (img.display_Slide) FOR IT TO WORK */
img.display_Slide {
  display: block;
  animation-name: fade_In;
  animation-duration: 0.7s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.7vw;
  padding: 1em 1.5em;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* FADE-IN ANINATION */
@keyframes fade_In {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.counter_Dev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}
.counter_Dev #count_Lable {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8vw;
}
.counter_Dev #Btn_Container {
  text-align: center;
}
.counter_Dev #Btn_Container button {
  padding: 10px 20px;
  font-size: 3vw;
  color: white;
  background-color: rgb(24, 99, 185);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  /* this is the time IT TAKES to fade in*/
  transition: background-color 0.7s;
}
.counter_Dev #Btn_Container button:hover {
  background-color: rgb(66, 145, 236);
}

.roller_Dev {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
  height: 100dvh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roller_Dev #container {
  text-align: center;
  font-size: 2.7vw;
  font-weight: bold;
}
.roller_Dev #container h1 {
  color: #318bdf;
}
.roller_Dev #container label {
  font-size: 2vw;
}
.roller_Dev #container input {
  font-size: 2vw;
  width: 20%;
  text-align: center;
  font-weight: bold;
}
.roller_Dev #container button {
  margin-top: 1em;
  font-size: 1.5vw;
  padding: 0.4em 0.7em;
  border-radius: 0.3em;
  color: white;
  background-color: rgb(127, 187, 255);
  border: none;
  cursor: pointer;
  /* this is the time IT TAKES to fade in*/
  transition: background-color 0.7s;
}
.roller_Dev #container button:hover {
  background-color: rgb(66, 145, 236);
}
.roller_Dev #container button:active {
  background-color: rgb(2, 33, 68);
}
.roller_Dev #container #dice_Result {
  margin: 0.25em;
}
.roller_Dev #container #dice_Images img {
  margin: 0.2em;
}/*# sourceMappingURL=style.css.map */