body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    background-color: aliceblue;
    
    /* CENTER EVERYTHING */
    position: absolute;
    top: 19%;
    left: 48%;
    transform: translateX(-50%);
}

h1 {
    color: #318bdf;
}

form {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.548);
}

#textBox{
    width: 70%;
    text-align: center;
    font-size: 2em;
    border: 5px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    margin-bottom: 15px;
}

label {
    font-size: 1em;
    font-weight: bold;
}

button {
    margin-top: 17px;
    font-size: 1em;
    padding: 5px 25px;
    border-radius: 7px;

    color: white;
    background-color: rgb(127, 187, 255);
    border: none;
    cursor: pointer;

    /* this is the time IT TAKES to fade in*/
    transition: background-color 0.7s;

    &:hover {
        background-color: rgb(66, 145, 236);
    }
    &:active {
        background-color: rgb(2, 33, 68);
    }
}

#result {
    font-size: 1.2em;
    font-weight: bold;
}









